
body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: auto;
}

#webcam-container {
    margin-top: 20px;
}

.gesture-icons img {
    width: 50px;
    margin: 5px;
}

#resultContainer {
    margin-top: 20px;
}

#gestureIcon {
    width: 50px;
    margin-left: 10px;
}

#webcam-container {
    margin-top: 20px;
    border: 1px solid hsl(165, 82%, 48%);
    padding: 10px;
}


